/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

.container{
	margin: 0 auto;
	width: 1000px;
	position: relative;
	/* border:3px solid red; */
}
header{
	background-color: dodgerblue;
	display: inline-block;
	width:100%;
	position: fixed;
	top: 0px;
	z-index: 1000;
	height: 55px;

}
#navbar{
	display:inline-block;
}
#navbar ul{
	display: inline-block;
}
#navbar ul li{
	display:inline-block;
	margin-right:50px;
}
#navbar ul li:nth-child(1){
	margin-left: 200px;
}
#navbar ul li:nth-last-child(1){
	margin-right:150px;
}
#navbar  li a:link{
	text-decoration: none;
	color: black;
}
#navbar li a:hover{
	color:gold;
}
.logo{
	display:inline-block;
	position: relative;
	top:6px;
}

.header{
	/* border:3px solid red; */
	width: 100%;
	padding-top: 5%;
	padding-left:15%;
	margin:100px 0px;
}
.header .header-title{
	display:inline-block;
	padding:50px;
}
.header .header-title h1{
	display: inline-block;
	font-size: 75px;
	text-align: center;
}
.header .header-title p{
	display: inline-block;
	text-align: center;
	margin-left:55px;
	padding: 5px 45px;
	border:1px solid slategrey;
}
div .header-img{
	display:inline-block;
}
div .header-img img{
	height: 300px;
	width:300px;
}
.border{
	/* border:3px solid red; */
	width: 95%;
}

.content{
	width: 100%;
	margin-top:50px;
	margin-bottom: 100px;
}
.content .features{
	display: inline-block;
	margin-left:45px;
	width: 45%;
	/* border:3px solid red; */
}
.content .about{
	display: inline-block;
	width: 45%;
	/* border:3px solid red; */
}
.content article{
	padding-right:10px;
}
article .features h2{
	display: inline-block;
}
article .about h2{
	display: inline-block;
}
div .middle-img{
	margin: 30px 0px;
}
div .middle-img img{
	width:100%;
}
.content .services{
	display: inline-block;
	margin-left:45px;
	width: 30%;
	/* border:3px solid red; */
}
.content .product{
	display: inline-block;
	width: 30%;
	/* border:3px solid red; */
}
.content .vision{
	display: inline-block;
	width: 30%;
	/* border:3px solid red; */
}
.contact{
	margin-bottom: 50px;
	text-align: center;
}
footer{
	text-align: center;
}